//breakpoints
$xs-min: 320px;
$xs-max: 767px;
$sm-min: 767px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg-min: 1200px;
$lg-max: 1500px;
$xl-min: 1501px;

//colors
$rust: #cd6647;
$lite-green: #c4d0cc;
$dark-green: #718878;
$pink: #fee5e0;
$bg-pink: #fff5f4;

//fonts
$ff-fancy: 'La Belle Aurore', cursive;
$ff-body: 'Julius Sans One', 'Roboto', sans-serif;

//body
body {
  background-color: $bg-pink;
}

//nav
nav {
  background-color: $bg-pink;
  .navbar-brand {
    display: block;
    margin: 0 auto;
    @media (max-width: $md-max) {
      width: 120px;
    }
    @media (min-width: $lg-min) {
      display: none;
    }
    img {
      @media (max-width: $md-max) {
        width: 120px;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      @media (max-width: $xs-max) {
        margin-bottom: 20px;
      }
      .nav-item {
        @media (max-width: $md-max) {
          background: url('/img/lite-green-stroke.png') no-repeat;
          background-size: auto;
          background-position: center 75%;
          padding-bottom: 15px;
          text-align: center;
        }
        @media (max-width: 374px) {
          font-size: 22px;
          padding-bottom: 5px;
        }
        a {
          @media (max-width: $md-max) {
            font-size: 30px;
            color: $rust;
            font-family: $ff-body;
          }
          @media (max-width: 374px) {
            font-size: 22px;
          }
        }
      }
    }
  }
  // .collapsing {
  //   transition: height 0.35s ease-in-out;
  // }
}
