//breakpoints
$xs-min: 320px;
$xxs-max: 374px;
$xs-max: 767px;
$sm-min: 767px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg-min: 1200px;
$lg-max: 1500px;
$xl-min: 1501px;

//colors
$rust: #cd6647;
$lite-green: #c4d0cc;
$dark-green: #718878;
$pink: #fee5e0;
$bg-pink: #fff5f4;
$white: #ffffff;
$black: #707070;

//fonts
$ff-fancy: 'La Belle Aurore', cursive;
$ff-body: 'Julius Sans One', 'Roboto', sans-serif;

//body
body {
  background-color: $bg-pink;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 60px;
}

//headr/nav
header {
  .navbar {
    padding: 0px;
    background-color: transparent;
    .navbar-collapse {
      .navbar-brand {
        position: relative;
        @media (min-width: 321px) {
          bottom: -5%;
        }
        display: block;
        margin: 0 auto;
        @media (max-width: $md-max) {
          width: 120px;
        }
        @media (min-width: $lg-min) {
          display: none;
        }
        img {
          @media (max-width: $md-max) {
            width: 120px;
          }
        }
      }
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 0px !important;
      background-color: $bg-pink;
      .navbar-nav {
        position: relative;
        @media (min-width: 321px) {
          bottom: -8%;
        }
        margin-bottom: 20px;
        .nav-item {
          @media (max-width: $md-max) {
            background: url('/img/lite-green-stroke.png') no-repeat;
            background-size: auto;
            background-position: center 50%;
            padding-bottom: 30px;
            text-align: center;
          }
          @media (max-width: $xxs-max) {
            font-size: 22px;
            padding-bottom: 10px;
          }
          a {
            @media (max-width: $md-max) {
              font-size: 30px;
              color: $rust;
              font-family: $ff-body;
            }
            @media (max-width: 374px) {
              font-size: 22px;
            }
          }
        }
      }
    }
    .show {
      height: 100vh !important;
      display: block;
    }
    .hamburger {
      margin-bottom: 10px;
      width: 100px;
      border: 1px solid $dark-green;
      border-radius: 50px;
      background-color: $bg-pink;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
      > div {
        height: unset;
        width: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        > span {
          height: 2px;
          &:before,
          &:after {
            height: 2px;
          }
        }
      }
    }
  }
}
//Index
#home {
  .hero-img {
    img {
      width: 100%;
    }
  }
  .heading {
    position: relative;
    overflow: hidden;
    &:before {
      content: url(/img/lite-green-stroke.png);
      position: absolute;
      transform: rotate(135deg);
      right: -200px;
      top: -90px;
    }
    &:after {
      content: url(/img/lite-green-stroke.png);
      position: absolute;
      transform: rotate(135deg);
      left: -236px;
      bottom: 10px;
    }
    padding: 40px 0px;
    h1 {
      .h1Top,
      .h1Bottom {
        background-image: url('/img/pink-stroke.png');
        background-repeat: no-repeat;
        background-position: center 130%;
        background-size: contain;
        line-height: 1.4;
      }
      .h1Bottom {
        background-image: url('/img/pink-stroke-inverted.png');
      }
      .plus-span {
        padding-top: 10px;
      }
      span {
        display: block;
        text-align: center;
        font-family: $ff-body;
        font-size: 42px;
        color: $dark-green;
        line-height: 0.8;
        @media (max-width: $xxs-max) {
          font-size: 38px;
        }
      }
    }
  }
  .index-info {
    background-image: url('/img/index-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .info {
      padding: 35px 0px;
      margin-bottom: 150px;
      h2 {
        span {
          display: block;
          text-align: center;
          font-family: $ff-fancy;
          font-size: 42px;
          color: $white;
          line-height: 1.6;
          @media (max-width: $xxs-max) {
            font-size: 38px;
          }
        }
      }
    }
  }
}
footer {
  padding-bottom: 20px;
  > span {
    padding-bottom: 10px;
  }
  span {
    display: block;
    text-align: center;
    font-family: $ff-body;
    font-size: 14px;
    color: $black;
    line-height: 1.4;
    a {
      color: $rust;
    }
  }
}
