@import './variables.scss';
//Index
#home {
  overflow: hidden;
  .carousel {
    z-index: 2;
    @media (min-width: $lg-min) {
      margin: 0 auto;
      max-width: 800px;
    }
    @media (max-width: $md-max) {
      display: none;
    }
    .carousel-inner {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      display: block;
      border-radius: 100px;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
      .carousel-item {
        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
        .carousel-caption {
          display: none !important;
        }
      }
    }
  }
  .carousel-mobile {
    position: relative;
    z-index: 2;
    @media (min-width: $lg-min) {
      display: none;
    }
    margin: 0 auto;
    width: 100%;
    .slider-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      @media (min-width: $sm-min) {
        height: 600px;
      }
    }
  }
  .heading {
    position: relative;
    width: 100%;
    &:before {
      content: url(/img/lite-green-stroke.png);
      position: absolute;
      transform: rotate(135deg);
      right: -200px;
      top: -90px;
      @media (min-width: $md-min) {
        right: -120px;
        top: -12px;
      }
    }
    &:after {
      content: url(/img/lite-green-stroke.png);
      position: absolute;
      transform: rotate(135deg);
      left: -236px;
      bottom: 10px;
      @media (min-width: $md-min) {
        left: -140px;
      }
    }
    padding: 40px 0px;
    h1 {
      .h1Top,
      .h1Bottom {
        background-image: url('/img/pink-stroke.png');
        background-repeat: no-repeat;
        background-position: center 130%;
        background-size: contain;
        line-height: 1.4;
      }
      .h1Bottom {
        background-image: url('/img/pink-stroke-inverted.png');
      }
      .plus-span {
        padding-top: 10px;
      }
      span {
        display: block;
        text-align: center;
        font-family: $ff-body;
        font-size: 42px;
        color: $dark-green;
        line-height: 0.8;
        @media (max-width: $xxs-max) {
          font-size: 38px;
        }
      }
    }
  }
  .index-info {
    background-image: url('/img/index-bg-new.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    @media (min-width: $md-min) {
      background-size: contain;
    }
    width: 100%;
    .info {
      padding: 90px 0px;
      margin-bottom: 20px;
      h2 {
        span {
          display: block;
          text-align: center;
          font-family: $ff-fancy;
          font-size: 42px;
          color: $white;
          line-height: 1.6;
          @media (max-width: $xxs-max) {
            font-size: 44px;
          }
          @media (min-width: $sm-min) {
            font-size: 64px;
          }
        }
      }
    }
  }
  .logo {
    max-width: 200px;
    margin-bottom: 100px;
    img {
      width: 100%;
    }
  }
}
