@import './variables.scss';

//headr/nav
header {
  .navbar {
    padding: 0px;
    background-color: transparent;
    .navbar-collapse {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 0px !important;
      background-color: $bg-pink;
      .navbar-nav {
        &:before {
          content: url(/img/rust-stroke.png);
          position: absolute;
          transform: rotate(35deg);
          right: 31px;
          top: -35px;
          z-index: -1;
          opacity: 0.6;
        }
        &:after {
          content: url(/img/pink-stroke.png);
          position: absolute;
          transform: rotate(-45deg);
          left: 80px;
          top: -100px;
          z-index: -2;
        }
        position: relative;
        top: 10%;
        margin-bottom: 20px;
        .nav-item {
          background: url('/img/lite-green-stroke.png') no-repeat;
          background-size: auto;
          background-position: center 50%;
          padding-bottom: 15px;
          text-align: center;
          @media (max-width: $xxs-max) {
            font-size: 22px;
            padding-bottom: 10px;
          }
          a {
            display: inline-block;
            transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
            font-size: 30px;
            color: $rust;
            font-family: $ff-body;
            @media (max-width: 374px) {
              font-size: 22px;
            }
            &:hover,
            &:active,
            &:focus {
              transform: translateY(-10px);
              color: $black;
            }
          }
        }
      }
    }
    .show {
      height: 100% !important;
      display: block;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .hamburger {
      position: relative;
      bottom: 20px;
      width: 100px;
      border: 1px solid $dark-green;
      border-radius: 50px;
      background-color: $bg-pink;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
      transition: background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
      > div {
        height: unset;
        width: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        > span {
          height: 2px;
          &:before,
          &:after {
            height: 2px;
          }
        }
      }
      &:hover,
      &:active,
      &:focus {
        background-color: $white;
        border-color: $rust;
      }
    }
  }
}
