@import './variables.scss';
#ourstory {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  &:before {
    content: url(/img/rust-stroke.png);
    position: absolute;
    transform: rotate(174deg);
    left: -138px;
    bottom: 0px;
    opacity: 0.7;
    z-index: -1;
  }
  &:after {
    content: url(/img/lite-green-stroke.png);
    position: absolute;
    transform: rotate(120deg);
    left: -175px;
    bottom: 38px;
    z-index: -1;
  }
  .strokes {
    &:before {
      content: url(/img/lite-green-stroke.png);
      position: absolute;
      transform: rotate(31deg);
      right: -175px;
      bottom: -25px;
      z-index: -1;
    }
    &:after {
      content: url(/img/pink-stroke.png);
      position: absolute;
      transform: rotate(60deg);
      left: -197px;
      top: 160px;
      z-index: -1;
    }
  }
  .container {
    h1 {
      font-family: $ff-fancy;
      font-size: 50px;
      text-align: center;
      margin-top: 50px;
      color: $rust;
      background-image: url('/img/pink-stroke.png');
      background-repeat: no-repeat;
      background-position: center 60%;
      background-size: contain;
    }
    .stories {
      @media (min-width: $md-min) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      .story {
        width: 45%;
        @media (max-width: $sm-max) {
          width: 100%;
        }
        margin-top: 30px;
        img {
          width: 100%;
          max-width: 500px;
          text-align: center;
          display: block;
          margin: 15px auto;
          border-radius: 50%;
        }
        .story-wrapper {
          padding: 15px 0;
          .story-date {
            font-weight: 700;
            font-size: 18px;
            font-family: Roboto, sans-serif;
            color: $rust;
          }
          .story-text {
            p {
              font-size: 16px;
              margin-top: 15px;
              font-family: Roboto, sans-serif;
            }
          }
        }
      }
    }
    .carousel {
      @media (min-width: $lg-min) {
        margin: 0 auto;
        max-width: 800px;
      }
      @media (max-width: $md-max) {
        display: none;
      }
      .carousel-inner {
        border-radius: 50%;
        width: 100%;
        margin: 0 auto;
        display: block;
        .carousel-item {
          img {
            width: 100%;
          }
          .carousel-caption {
            display: none !important;
          }
        }
      }
    }
    .carousel-mobile {
      @media (min-width: $lg-min) {
        display: none;
      }
      margin: 0 auto;
      max-width: 800px;
      .slider-img {
        width: 100%;
      }
    }
  }
}
