@import './variables.scss';
#ourstory {
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  &:before {
    content: url(/img/rust-stroke.png);
    position: absolute;
    transform: rotate(174deg);
    left: -138px;
    bottom: 0px;
    opacity: 0.7;
    z-index: -1;
  }
  &:after {
    content: url(/img/lite-green-stroke.png);
    position: absolute;
    transform: rotate(120deg);
    left: -175px;
    bottom: 38px;
    z-index: -1;
  }
  .strokes {
    &:before {
      content: url(/img/lite-green-stroke.png);
      position: absolute;
      transform: rotate(31deg);
      right: -175px;
      bottom: -25px;
      z-index: -1;
    }
    &:after {
      content: url(/img/pink-stroke.png);
      position: absolute;
      transform: rotate(60deg);
      left: -197px;
      top: 160px;
      z-index: -1;
    }
  }
  h1 {
    font-family: $ff-fancy;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    color: $rust;
    background-image: url('/img/pink-stroke.png');
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: contain;
  }
  .timeline {
    background-image: url('/img/timeline-stroke.png');
    height: 200vh;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: space-between;
  }
  .left-col {
    width: 45%;
  }
  .right-col {
    width: 45%;
  }
}
