@import './variables.scss';
#ourstory {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  &:before {
    content: url(/img/rust-stroke.png);
    position: absolute;
    transform: rotate(174deg);
    left: -138px;
    bottom: 0px;
    opacity: 0.7;
    z-index: -1;
  }
  &:after {
    content: url(/img/lite-green-stroke.png);
    position: absolute;
    transform: rotate(120deg);
    left: -175px;
    bottom: 38px;
    z-index: -1;
  }
  .strokes {
    &:before {
      content: url(/img/lite-green-stroke.png);
      position: absolute;
      transform: rotate(31deg);
      right: -175px;
      bottom: -25px;
      z-index: -1;
    }
    &:after {
      content: url(/img/pink-stroke.png);
      position: absolute;
      transform: rotate(60deg);
      left: -197px;
      top: 160px;
      z-index: -1;
    }
  }
  .container {
    h1 {
      font-family: $ff-fancy;
      font-size: 50px;
      text-align: center;
      margin-top: 50px;
      color: $rust;
      background-image: url('/img/pink-stroke.png');
      background-repeat: no-repeat;
      background-position: center 60%;
      background-size: contain;
    }
    .stories {
      @media (min-width: $md-min) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      .story {
        width: 45%;
        @media (max-width: $sm-max) {
          width: 100%;
        }
        margin-top: 30px;
        img {
          width: 100%;
          max-width: 500px;
          text-align: center;
          display: block;
          margin: 15px auto;
          border-radius: 50%;
        }
        .story-wrapper {
          padding: 15px 0;
          .story-date {
            font-weight: 700;
            font-size: 18px;
            font-family: $ff-body, sans-serif;
            color: $rust;
          }
          .story-text {
            p {
              color: $black;
              font-size: 16px;
              margin-top: 15px;
              font-family: Montserrat, sans-serif;
            }
          }
        }
      }
    }
    .date-time {
      font-weight: 700;
      font-size: 18px;
      font-family: $ff-body, sans-serif;
      color: $rust;
      text-align: center;
      margin: 50px 0px;
    }
    .photos {
      display: flex;
      flex-flow: column wrap;
      align-content: space-around;
      align-items: flex-start;
      height: 8800px;
      @media (max-width: $md-max) {
        height: 7500px;
      }
      @media (max-width: $sm-max) {
        height: 6600px;
      }
      @media (max-width: $xs-max) {
        align-content: center;
        height: unset;
      }
      .photo {
        width: 25%;
        margin-bottom: 2%;
        margin-right: auto;
        margin-left: auto;
        @media (max-width: $sm-max) {
          width: 30%;
        }
        @media (max-width: $xs-max) {
          width: 85%;
        }

        img {
          border-radius: 5px;
          width: 100%;
        }
        .caption {
          width: 100%;
          border-radius: 5px;
          text-align: center;
          background-color: $pink;
          color: $rust;
          font-weight: 700;
          font-size: 14px;
          margin-top: 8px;
          font-family: $ff-body, sans-serif;
        }
      }
    }
  }
}
