@import './variables.scss';
#suggestASong {
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  &:before {
    content: url(/img/rust-stroke.png);
    position: absolute;
    transform: rotate(174deg);
    left: -138px;
    bottom: 0px;
    opacity: 0.7;
    z-index: -1;
  }
  &:after {
    content: url(/img/lite-green-stroke.png);
    position: absolute;
    transform: rotate(120deg);
    left: -175px;
    bottom: 38px;
    z-index: -1;
  }
  .strokes {
    &:before {
      content: url(/img/lite-green-stroke.png);
      position: absolute;
      transform: rotate(31deg);
      right: -175px;
      bottom: -25px;
      z-index: -1;
    }
    &:after {
      content: url(/img/pink-stroke.png);
      position: absolute;
      transform: rotate(60deg);
      left: -197px;
      top: 160px;
      z-index: -1;
    }
  }
  h1 {
    font-family: $ff-fancy;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    color: $rust;
    background-image: url('/img/pink-stroke.png');
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: contain;
  }
  .info-body {
    .body-text {
      margin: 40px 0px;
      font-family: $ff-body;
      font-size: 16px;
      text-align: center;
      color: $dark-green;
      span {
        display: block;
      }
    }
    .submit-block {
      position: -webkit-sticky;
      position: sticky;
      .modalBtn {
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
          0 1px 3px 1px rgba(60, 64, 67, 0.149);
        display: block;
        font-family: $ff-body;
        font-size: 20px;
        color: $rust;
        border-color: $dark-green;
        background-color: $white;
        &:hover,
        &:active,
        &:focus {
          color: $white;
          background-color: $dark-green;
        }
      }
    }
  }
  #songs {
    @media (min-width: $lg-min) {
      max-width: 900px;
    }
    margin: 20px auto;
    .song-list {
      .list-group-item {
        padding: 8px;
        font-family: $ff-body;
        color: $rust;
        margin-bottom: 15px;
        border-radius: 10px;
        background-color: $white;
        .row1 {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          .title,
          .artist {
            font-size: 16px;
            text-align: left;
          }
        }
        .row2 {
          padding-top: 15px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .likes {
            padding-right: 15px;
            font-size: 12px;
          }
          .like-btn {
            color: $rust;
            background-color: $white;
            border: none;
            &:hover,
            &:active,
            &:focus {
              color: lighten($rust, $amount: 15%);
            }
          }
        }
      }
    }
  }
}
.modal {
  .modal-content {
    background-color: $bg-pink;
    .modal-header {
      .modal-title {
        font-family: $ff-fancy;
        color: $rust;
      }
    }
    .modal-body {
      form {
        .form-group {
          label {
            font-family: $ff-body;
          }
          .form-control {
            color: $black;
            font-family: $ff-body;
            border: none;
            border-bottom: 1px solid $black;
            border-radius: 0px;
            background-color: $bg-pink;
          }
        }
        .notice {
          font-size: 12px;
          text-align: center;
          padding-bottom: 5px;
        }
        .modalBtn {
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
            0 1px 3px 1px rgba(60, 64, 67, 0.149);
          font-family: $ff-body;
          color: $rust;
          font-size: 20px;
          border-color: $dark-green;
          background-color: $white;
          &:hover,
          &:active,
          &:focus {
            color: $white;
            background-color: $dark-green;
          }
        }
      }
    }
  }
}
